.container {
  background-image: url("./img/io.webp");
  background-size: cover;
  height: 100vh;
  font-family: "Comic Neue", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: white;
}

/* Navbar stile fumetto */
nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

nav .logo {
  font-family: "Bangers", sans-serif;
  font-size: 2em;
  color: #fff;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Comic Neue", sans-serif;
}

nav ul li a:hover {
  color: #ffbb006e;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.img {
  width: 400px;
  margin-top: 180px;
}

/*skill */
.skills {
  margin-top: 30px;
  color: black;
}

.gallery {
  margin-top: 30px;
  color: black;
}

.card {
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


.footer {
  margin-top: 30px;
  color: black;
  background-color: rgb(232, 231, 231);
  padding: 10px;
}